extends layout

block content
    ul(id="navbar")
        each item in config.menu
            if item[2] === true
                li(class="floater")     
                        a(href=item[1])=item[0]
            else
                li
                    a(href=item[1])=item[0]
    div(id="content")
        div(id="formContent")
            form(action="/login", method="post")
                input(type="text", name="username", placeholder="Username")
                br
                input(type="password", name="password", placeholder="Password")
                br
                input(type="submit", value="Log In")