extends layout

block content
    ul(id="navbar")
        li(class="floater")     
            a(href="/logout") Log Out
    div(id="content")
        h2=`Hello, ${user[0].username}`
        h3 #{data}
        form(action="/dashboard", method="post")
            label(for="question1") What is you favourite food? 
            select(name="question1")
                option(value="pizza") Pizza
                option(value="hotdog") Hotdogs
                option(value="hamurger") Hamburgers
                option(value="other") Other
            br
            label(for="question2") Which mascot do you prefer? 
            select(name="question1")
                option(value="smokey") Smokey Bear
                option(value="woodsy") Woodsy Owl
                option(value="mcgruff") McGruff the Crime Dog
            br
            label(for="question3") How many languages do you know?
            select(name="question1")
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4+
            br
            input(type="submit", value="Update Answers")