extends layout

block content
    ul(id="navbar")
        each item in config.menu
            if item[2] === true
                li(class="floater")     
                        a(href=item[1])=item[0]
            else
                li
                    a(href=item[1])=item[0]
    div(id="formContent")
        form(action="/signup", method="post")
            input(type="text", name="username", placeholder="Username")
            br
            input(type="password", name="password", placeholder="Password")
            br
            select(name='q1')
                option(value='What is your mother\'s maiden name?') What is your mother's maiden name?
                option(value='What is your SSN?') What is your SSN?
                option(value='What is your home address') What is your home address
            input(type='text' name='a1')
            br
            select(name='q2')
                option(value='What is your mother\'s maiden name?') What is your mother's maiden name?
                option(value='What is your SSN?') What is your SSN?
                option(value='What is your home address') What is your home address
            input(type='text' name='a2')
            br
            select(name='q3')
                option(value='What is your mother\'s maiden name?') What is your mother's maiden name?
                option(value='What is your SSN?') What is your SSN?
                option(value='What is your home address') What is your home address
            input(type='text' name='a3')
            br
            input(type="submit", value="Sign Up")
        